:root {
  --backgroundO: #5F666E;
  --backgroundI: #98748C;
  --shadeDarker33: #00000033;
  --shadeDarker50: #00000050;
  --shadeDarker66: #00000066;
  --shadeLighter10: #ffffff10;
  --shadeLighter20: #ffffff20;
  --shadeLighter33: #ffffff33;

  --color1: #66A1ED;
  --color2: #76ED66;

  --color3: #ED66C0;
  --color4: #EAA627;

  --light-gold-rgb: 249 181 51;
  --dark-gold-rgb: 215 147 23;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  overflow: hidden;
}

@font-face {
  font-family: 'bit';
  src: url('fonts/alagard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: none;
  font-synthesis-weight: none;
}
@font-face {
  font-family: 'timeless';
  src: url('fonts/Timeless.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: none;
  font-synthesis-weight: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: scroll-y;

}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

.blank-one {
  background: url(images/tumblr_bfe90ef1addacef577bc2813d1cfd001_5434e620_1280.webp) center center no-repeat fixed;
  text-align: center;
  background-size: cover;
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

.blank-two {
  background: url(images/tumblr_a98bc710b6f5bc7aebb47b3049d7adf8_a05c21c6_1280.webp) center center no-repeat fixed;
  text-align: center;
  background-size: cover;
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
  min-height: 100%;
  height: 100%;
  overflow: hidden;

}

.blank-three {
  background: url(images/tumblr_7e646d701b09619cbd7847b65ea580f0_163e290a_1280.webp) center center no-repeat fixed;
  text-align: center;
  background-size: cover;
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
  min-height: 100%;
  height: 100%;
  overflow: hidden;

}

.text {
  width: 700px;
  margin: auto;
  line-height: 1.9em;
  background: radial-gradient(rgb(var(--light-gold-rgb)), rgb(var(--dark-gold-rgb)));
  border-radius: 30px;

  border: none;
  outline: 0.2rem solid white;
  outline-offset: 0.2rem;
  box-shadow: 12px 25px 50px 12px rgb(0 0 0 / 0.5);
  max-width: 75ch;
  word-break: keep-all;
}

h2 {
  font-size: 3em;
  font-family: bit;
  -webkit-font-smoothing: none;
  font-synthesis-weight: none;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  text-align: left;
  vertical-align: top;
  line-height: 1em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  font-family: bit;
  text-transform: uppercase;
  -webkit-font-smoothing: none;
  font-synthesis-weight: none;
  color: #fff;
  text-align: left;
  vertical-align: top;
  line-height: 1em;

}
h4{
  font-family: bit;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}
.content {
  color: #fff;
  border-radius: 30px;
  height: 100%;
  font-family: Timeless;
  text-align: left;
  max-width: max(65ch, calc(100% / 3));
  min-width: min(60ch, calc(100% / 3));
  padding-right: 16px;
  line-height: 1.2em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  margin: 0;

}
.boxContent {
  font-size: 24px;
  padding: 60px;
  color: #fff;
  text-shadow: 1px 1px 2px #000, 0 0 100px #000;
  text-align: center;
}

.pattern {
  background: transparent url(images/gaming-pattern-dark.png) repeat;
  animation: infinite-shift-left 5000s linear;
  height: fit-content;

}

@keyframes infinite-shift-left {
  0% {
    background-position: 50000px;
  }

  100% {
    background-position: 0;
  }
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  z-index: 1;
  position: relative;
  width: 50%;
  background: #00000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: 0.3s ease;
  height: 100%;
}

.mainMenu {
  background: linear-gradient(90deg, rgba(0, 0, 0, 80%) 0%, rgba(0, 0, 0, 0) 100%), url(images/tumblr_5d37ab2aa782462c7aa092f7bd0d27cb_fe094893_1280.webp) center center no-repeat fixed;
  text-align: center;
  background-size: cover;
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
  min-height: 100%;
  text-transform: uppercase;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.mainMenu::before {
  content: "";
  z-index: -2;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  mask: linear-gradient(90deg, rgba(0, 0, 0, 100%) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  inset: 0;
  height: 100%;
}
.initSpace {
  padding-top: 15%;
  padding-left: 7.5%;
  line-height: 1em;
}

.button {
  width: 16rem;
  padding: 0.85rem;
  position: relative;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.75rem;
  outline: 0.2rem solid white;
  outline-offset: 0.2rem;
  overflow: hidden;
  background-color: #00000033;
  transition: ease 0.3s;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  align-items: start;
}

a>h3 {
  margin: auto;
  text-transform: uppercase;
  padding: inherit;
  text-align: center;
  font-family: bit;
}

.button:hover {
  background-color: var(--color2);
  transition: ease 0.3s;

}

.selectable {
  font-family: bit;
  position: relative;
  font-size: 2em;
  border: none;
  font-weight: 900;
  background-color: #00000000;
  transition: ease 0.3s;
  align-items: start;
  color: #fff;
  text-transform: uppercase;
  padding: 0%;
  text-decoration: none;
  text-shadow: none;
  line-height: 1em;
  width: fit-content;
}

.selectable:hover {
  transition: ease 0.3s;
  text-shadow: 0 0 10px #fff;
  font-size: 2em;
  cursor:pointer;
}

.spacer {
  padding-top: 1em;
}

.container {
  display: block;
  margin: 0;
  border-radius: 30px;
  max-width: calc(65ch* 3);
  background: linear-gradient(90deg, rgba(0, 0, 0, 80%) 0%, rgba(0, 0, 0, 0) 100%);
  text-align: center;
  content: "";
  min-width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.MMinnerContainer{
  display: block;
  height: 100%;
  min-width: 90%;
  max-width: 90%;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
}
.innerContainer{
  display: block;
  height: 100%;
  min-width: 90%;
  max-width: 90%;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}
.textContainer{
  overflow: auto;
  max-height: 80%;
}
.multiContainer{
  display: flex;
  overflow: auto;
  max-height: 80%;

}
.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 600px;
  width: 100%;
  display: grid;
  grid-template-rows: 300px 150px;
  grid-template-areas:
    "image"
    "text";
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  z-index: 2;
  background-color: #263c2e78;
  backdrop-filter: blur(32px);
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.07), 0px 0px 5.3px rgba(0, 0, 0, 0.05), 0px 0px 10px rgba(0, 0, 0, 0.042), 0px 0px 17.9px rgba(0, 0, 0, 0.035), 0px 0px 33.4px rgba(0, 0, 0, 0.028), 0px 0px 80px rgba(0, 0, 0, 0.02);
  border-radius: 30px;
  overflow: hidden;
  filter: saturate(0.8);
  border: none;
  outline: 0.25rem solid white;
  outline-offset: 0.5rem;
}

.card:hover {
  transform: scale(1.1);
  filter: saturate(1);
  transition: ease 0.3s;
  box-shadow: 0px 0px 2.2px rgba(255, 255, 255, 0.07), 0px 0px 5.3px rgba(255, 255, 255, 0.05), 0px 0px 10px rgba(255, 255, 255, 0.042), 0px 0px 17.9px rgba(255, 255, 255, 0.035), 0px 0px 33.4px rgba(255, 255, 255, 0.028), 0px 0px 80px rgba(255, 255, 255, 0.02);
  outline: 0.5rem solid white;
  outline-offset: 0.5rem;
}

.card-text {
  grid-area: text;
  overflow: hidden;
  padding: 10px;
  margin-bottom: auto;
  font-size: 1.2em;
  line-height: 1.2em;
  text-shadow: 1px 1px 2px #000, 0 0 20px #00000025;

}

.card-image1 {
  grid-area: image;
  background: url(images/004339.png);
  background-size: cover;
  background-position-x: center;
  margin: 16px;
    border-radius: 20px;
}

.card-image2 {
  grid-area: image;
  background: url(images/004330.png);
  background-size: cover;
  background-position-x: center;
  margin: 16px;
    border-radius: 20px;
}

.card-image3 {
  grid-area: image;
  background: url(images/004319.png);
  background-size: cover;
  background-position-x: center;
  margin: 16px;
    border-radius: 20px;
}

.grass {
  background: transparent url(images/grass2.png) repeat-x;
  filter: hue-rotate(349deg) saturate(1.2) brightness(0.2);

  background-size: contain;
  height: 128px;
  width: 100%;
  content: "";
  position: absolute;
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
  transform: translateY(calc(100vh - 128px));
}

.grass2 {
  background: transparent url(images/grass2.png) repeat-x;
  filter: hue-rotate(336deg) brightness(0.4);
  background-size: contain;
  height: 128px;
  width: 100%;
  content: "";
  position: absolute;
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
  transform: translateY(calc(200vh - 128px));

}

.grass3 {
  background: transparent url(images/grass2.png) repeat-x;
  filter: hue-rotate(255deg) saturate(2) brightness(0.6);
  background-size: contain;
  height: 128px;
  width: 100%;
  content: "";
  position: absolute;
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
  transform: translateY(calc(300vh - 128px));
}

.grass4 {
  background: transparent url(images/grass2.png) repeat-x;
  filter: hue-rotate(112deg) saturate(1.4) brightness(0.15);
  background-size: contain;
  height: 128px;
  width: 100%;
  content: "";
  position: absolute;
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
  transform: translateY(calc(400vh - 128px));
}
.container::before {
  content: "";
  z-index: -2;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  mask: linear-gradient(90deg, rgba(0, 0, 0, 100%) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  inset: 0;
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}